li{
    margin-left: -39px;
    list-style: none;
    margin-top: 20px;
}
body{
    margin-left: 50px;
    background-color: rgb(72, 122, 109);
}

p{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: aliceblue;
}
.e3r{
    font-size: 50px;
}
.ee{
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.ws{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: -75px;
    color: antiquewhite;
}